{
  "openapi": "3.0.3",
  "info": {
    "title": "ArchiSpark API",
    "version": "0.1.0",
    "description": "API REST pour interroger et modifier un modèle ArchiMate 3.1. Authentification via cookie de session (Better Auth) ou Bearer token (token API personnel). Permissions RBAC par couche ArchiMate.",
    "contact": {
      "name": "GitHub",
      "url": "https://github.com/archispark/archispark"
    }
  },
  "servers": [
    {
      "url": "https://api.archispark.cloud",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Serveur local"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentification (Better Auth)"
    },
    {
      "name": "Model",
      "description": "Informations et persistance du modèle"
    },
    {
      "name": "Workspaces",
      "description": "Gestion des workspaces"
    },
    {
      "name": "Elements",
      "description": "Éléments ArchiMate 3.1"
    },
    {
      "name": "Relationships",
      "description": "Relations ArchiMate 3.1"
    },
    {
      "name": "Views",
      "description": "Vues et diagrammes"
    },
    {
      "name": "PropertyDefinitions",
      "description": "Définitions de propriétés"
    },
    {
      "name": "Users",
      "description": "Gestion des utilisateurs"
    },
    {
      "name": "Roles",
      "description": "Rôles et permissions RBAC"
    },
    {
      "name": "Settings",
      "description": "Tokens API personnels"
    },
    {
      "name": "MCP",
      "description": "Transport MCP (streamable-http)"
    }
  ],
  "components": {
    "schemas": {
      "RGBColor": {
        "type": "object",
        "properties": {
          "r": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255
          },
          "g": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255
          },
          "b": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255
          }
        },
        "required": [
          "r",
          "g",
          "b"
        ]
      },
      "Font": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "number",
            "nullable": true
          },
          "style": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RGBColor"
              },
              {
                "nullable": true
              }
            ]
          }
        }
      },
      "Style": {
        "type": "object",
        "properties": {
          "fill_color": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RGBColor"
              },
              {
                "nullable": true
              }
            ]
          },
          "line_color": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RGBColor"
              },
              {
                "nullable": true
              }
            ]
          },
          "font": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Font"
              },
              {
                "nullable": true
              }
            ]
          },
          "line_width": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "Property": {
        "type": "object",
        "properties": {
          "property_definition_ref": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "property_definition_ref",
          "value"
        ]
      },
      "ModelInfo": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "documentation": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string",
            "nullable": true
          },
          "element_count": {
            "type": "integer"
          },
          "relationship_count": {
            "type": "integer"
          },
          "view_count": {
            "type": "integer"
          },
          "property_definition_count": {
            "type": "integer"
          },
          "workspace_id": {
            "type": "string",
            "nullable": true
          },
          "workspace_name": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "identifier",
          "name",
          "element_count",
          "relationship_count",
          "view_count",
          "property_definition_count"
        ]
      },
      "Element": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "AndJunction",
              "ApplicationCollaboration",
              "ApplicationComponent",
              "ApplicationEvent",
              "ApplicationFunction",
              "ApplicationInteraction",
              "ApplicationInterface",
              "ApplicationProcess",
              "ApplicationService",
              "Artifact",
              "Assessment",
              "BusinessActor",
              "BusinessCollaboration",
              "BusinessEvent",
              "BusinessFunction",
              "BusinessInteraction",
              "BusinessInterface",
              "BusinessObject",
              "BusinessProcess",
              "BusinessRole",
              "BusinessService",
              "Capability",
              "CommunicationNetwork",
              "Constraint",
              "Contract",
              "CourseOfAction",
              "DataObject",
              "Deliverable",
              "Device",
              "DistributionNetwork",
              "Driver",
              "Equipment",
              "Facility",
              "Gap",
              "Goal",
              "Grouping",
              "ImplementationEvent",
              "Location",
              "Material",
              "Meaning",
              "Node",
              "OrJunction",
              "Outcome",
              "Path",
              "Plateau",
              "Principle",
              "Product",
              "Representation",
              "Requirement",
              "Resource",
              "Stakeholder",
              "SystemSoftware",
              "TechnologyCollaboration",
              "TechnologyEvent",
              "TechnologyFunction",
              "TechnologyInteraction",
              "TechnologyInterface",
              "TechnologyProcess",
              "TechnologyService",
              "Value",
              "ValueStream",
              "WorkPackage"
            ]
          },
          "documentation": {
            "type": "string",
            "nullable": true
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          }
        },
        "required": [
          "identifier",
          "name",
          "type",
          "properties"
        ]
      },
      "Relationship": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "Access",
              "Aggregation",
              "Assignment",
              "Association",
              "Composition",
              "Flow",
              "Influence",
              "Realization",
              "Serving",
              "Specialization",
              "Triggering"
            ]
          },
          "source": {
            "type": "string",
            "description": "Identifiant de l'élément source"
          },
          "source_name": {
            "type": "string",
            "nullable": true
          },
          "target": {
            "type": "string",
            "description": "Identifiant de l'élément cible"
          },
          "target_name": {
            "type": "string",
            "nullable": true
          },
          "documentation": {
            "type": "string",
            "nullable": true
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          },
          "access_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Access",
              "Read",
              "Write",
              "ReadWrite",
              null
            ],
            "description": "Uniquement pour le type Access"
          },
          "is_directed": {
            "type": "boolean",
            "nullable": true,
            "description": "Uniquement pour le type Association"
          },
          "modifier": {
            "type": "string",
            "nullable": true,
            "description": "Force d'influence, uniquement pour le type Influence"
          }
        },
        "required": [
          "identifier",
          "type",
          "source",
          "target",
          "properties"
        ]
      },
      "Node": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "element_ref": {
            "type": "string",
            "nullable": true
          },
          "x": {
            "type": "integer",
            "nullable": true
          },
          "y": {
            "type": "integer",
            "nullable": true
          },
          "w": {
            "type": "integer",
            "nullable": true
          },
          "h": {
            "type": "integer",
            "nullable": true
          },
          "style": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Style"
              },
              {
                "nullable": true
              }
            ]
          },
          "children": {
            "type": "array",
            "items": {
              "nullable": true
            },
            "description": "Nœuds enfants (type Node récursif)"
          }
        },
        "required": [
          "identifier",
          "children"
        ]
      },
      "Connection": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "relationship_ref": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "target": {
            "type": "string",
            "nullable": true
          },
          "source_side": {
            "type": "string",
            "nullable": true,
            "enum": [
              "top",
              "right",
              "bottom",
              "left",
              null
            ]
          },
          "target_side": {
            "type": "string",
            "nullable": true,
            "enum": [
              "top",
              "right",
              "bottom",
              "left",
              null
            ]
          },
          "style": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Style"
              },
              {
                "nullable": true
              }
            ]
          }
        },
        "required": [
          "identifier"
        ]
      },
      "View": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "documentation": {
            "type": "string",
            "nullable": true
          },
          "viewpoint": {
            "type": "string",
            "nullable": true
          },
          "node_count": {
            "type": "integer"
          },
          "connection_count": {
            "type": "integer"
          }
        },
        "required": [
          "identifier",
          "name",
          "node_count",
          "connection_count"
        ]
      },
      "ViewDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/View"
          },
          {
            "type": "object",
            "properties": {
              "nodes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Node"
                }
              },
              "connections": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            },
            "required": [
              "nodes",
              "connections"
            ]
          }
        ]
      },
      "SaveResult": {
        "type": "object",
        "properties": {
          "saved": {
            "type": "boolean",
            "example": true
          },
          "path": {
            "type": "string",
            "example": "data/archisurance.xml"
          }
        },
        "required": [
          "saved",
          "path"
        ]
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "detail"
        ]
      },
      "WorkspaceInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "active"
        ]
      },
      "UserOut": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "example": "user"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "username",
          "role",
          "created_at"
        ]
      },
      "ApiTokenOut": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer",
            "description": "Timestamp Unix (secondes)"
          },
          "last_used_at": {
            "type": "integer",
            "nullable": true,
            "description": "Timestamp Unix, null si jamais utilisé"
          },
          "expires_at": {
            "type": "integer",
            "nullable": true,
            "description": "Timestamp Unix d'expiration, null = aucune expiration"
          }
        },
        "required": [
          "id",
          "name",
          "user_id",
          "created_at",
          "last_used_at",
          "expires_at"
        ]
      },
      "ApiTokenCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "CI pipeline"
          },
          "expires_at": {
            "type": "integer",
            "nullable": true,
            "description": "Timestamp Unix d'expiration. Null ou absent = aucune expiration."
          }
        },
        "required": [
          "name"
        ]
      },
      "ApiTokenCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiTokenOut"
          },
          {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "Valeur du token (retournée une seule fois à la création)"
              }
            },
            "required": [
              "token"
            ]
          }
        ]
      },
      "RoleOut": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "is_system": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "permissions": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Map de layer → liste de flags (read|create|update|delete)"
          },
          "user_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "name",
          "is_system",
          "created_at",
          "permissions",
          "user_ids"
        ]
      },
      "PropertyDefinition": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "identifier",
          "name"
        ]
      },
      "ElementCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string"
          },
          "documentation": {
            "type": "string",
            "nullable": true
          },
          "properties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "property_definition_ref": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "property_definition_ref",
                "value"
              ]
            }
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "ElementUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string"
          },
          "documentation": {
            "type": "string",
            "nullable": true
          },
          "properties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "property_definition_ref": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "property_definition_ref",
                "value"
              ]
            }
          }
        }
      },
      "RelationshipCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "minLength": 1
          },
          "target": {
            "type": "string",
            "minLength": 1
          },
          "documentation": {
            "type": "string",
            "nullable": true
          },
          "properties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "property_definition_ref": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "property_definition_ref",
                "value"
              ]
            }
          },
          "access_type": {
            "type": "string",
            "nullable": true
          },
          "is_directed": {
            "type": "boolean",
            "nullable": true
          },
          "influence_strength": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "source",
          "target"
        ]
      },
      "RelationshipUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "documentation": {
            "type": "string",
            "nullable": true
          },
          "properties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "property_definition_ref": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "property_definition_ref",
                "value"
              ]
            }
          },
          "access_type": {
            "type": "string",
            "nullable": true
          },
          "is_directed": {
            "type": "boolean",
            "nullable": true
          },
          "influence_strength": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ViewCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "viewpoint": {
            "type": "string",
            "nullable": true
          },
          "documentation": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name"
        ]
      },
      "ViewUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "viewpoint": {
            "type": "string",
            "nullable": true
          },
          "documentation": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "NodeCreateInput": {
        "type": "object",
        "properties": {
          "element_id": {
            "type": "string",
            "minLength": 1
          },
          "x": {
            "type": "number",
            "nullable": true
          },
          "y": {
            "type": "number",
            "nullable": true
          },
          "w": {
            "type": "number",
            "nullable": true
          },
          "h": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "element_id"
        ]
      },
      "NodeUpdateInput": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "nullable": true
          },
          "y": {
            "type": "number",
            "nullable": true
          },
          "w": {
            "type": "number",
            "nullable": true
          },
          "h": {
            "type": "number",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ConnectionCreateInput": {
        "type": "object",
        "properties": {
          "relationship_id": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "minLength": 1
          },
          "target": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "source_side": {
            "type": "string",
            "nullable": true,
            "enum": [
              "top",
              "right",
              "bottom",
              "left",
              null
            ]
          },
          "target_side": {
            "type": "string",
            "nullable": true,
            "enum": [
              "top",
              "right",
              "bottom",
              "left",
              null
            ]
          }
        },
        "required": [
          "source",
          "target"
        ]
      },
      "ConnectionUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "source_side": {
            "type": "string",
            "nullable": true,
            "enum": [
              "top",
              "right",
              "bottom",
              "left",
              null
            ]
          },
          "target_side": {
            "type": "string",
            "nullable": true,
            "enum": [
              "top",
              "right",
              "bottom",
              "left",
              null
            ]
          }
        }
      },
      "WorkspaceCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "path": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "WorkspaceUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "name"
        ]
      },
      "PropertyDefinitionCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "PropertyDefinitionUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string"
          }
        }
      },
      "RoleCreateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "permissions": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "RoleUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "permissions": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "parameters": {},
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Cookie de session httpOnly défini par Better Auth après /auth/sign-in/username"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token API personnel. Créez-en un via POST /settings/api-tokens (Mon compte → Tokens dans l'interface). Envoyez-le dans l'en-tête : Authorization: Bearer <token>."
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Model"
        ],
        "summary": "Métadonnées du modèle",
        "operationId": "getModelInfo",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Informations globales du modèle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelInfo"
                }
              }
            }
          }
        }
      }
    },
    "/save": {
      "post": {
        "tags": [
          "Model"
        ],
        "summary": "Sauvegarder le modèle sur disque",
        "operationId": "saveModel",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "description": "Sérialise le modèle en mémoire et l'écrit dans son fichier .xml (Open Exchange File).",
        "responses": {
          "200": {
            "description": "Modèle sauvegardé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveResult"
                }
              }
            }
          },
          "500": {
            "description": "Erreur d'écriture",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/elements/types": {
      "get": {
        "tags": [
          "Elements"
        ],
        "summary": "Types d'éléments présents",
        "operationId": "listElementTypes",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste triée des types d'éléments ArchiMate 3.1 présents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "ApplicationComponent",
                    "BusinessActor"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/elements": {
      "get": {
        "tags": [
          "Elements"
        ],
        "summary": "Lister les éléments",
        "operationId": "listElements",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "AndJunction",
                "ApplicationCollaboration",
                "ApplicationComponent",
                "ApplicationEvent",
                "ApplicationFunction",
                "ApplicationInteraction",
                "ApplicationInterface",
                "ApplicationProcess",
                "ApplicationService",
                "Artifact",
                "Assessment",
                "BusinessActor",
                "BusinessCollaboration",
                "BusinessEvent",
                "BusinessFunction",
                "BusinessInteraction",
                "BusinessInterface",
                "BusinessObject",
                "BusinessProcess",
                "BusinessRole",
                "BusinessService",
                "Capability",
                "CommunicationNetwork",
                "Constraint",
                "Contract",
                "CourseOfAction",
                "DataObject",
                "Deliverable",
                "Device",
                "DistributionNetwork",
                "Driver",
                "Equipment",
                "Facility",
                "Gap",
                "Goal",
                "Grouping",
                "ImplementationEvent",
                "Location",
                "Material",
                "Meaning",
                "Node",
                "OrJunction",
                "Outcome",
                "Path",
                "Plateau",
                "Principle",
                "Product",
                "Representation",
                "Requirement",
                "Resource",
                "Stakeholder",
                "SystemSoftware",
                "TechnologyCollaboration",
                "TechnologyEvent",
                "TechnologyFunction",
                "TechnologyInteraction",
                "TechnologyInterface",
                "TechnologyProcess",
                "TechnologyService",
                "Value",
                "ValueStream",
                "WorkPackage"
              ],
              "description": "Filtrer par type ArchiMate 3.1"
            },
            "required": false,
            "description": "Filtrer par type ArchiMate 3.1",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filtrer par nom (insensible à la casse, sous-chaîne)"
            },
            "required": false,
            "description": "Filtrer par nom (insensible à la casse, sous-chaîne)",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des éléments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Element"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Elements"
        ],
        "summary": "Créer un élément",
        "operationId": "createElement",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ElementCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Élément créé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/elements/{identifier}": {
      "get": {
        "tags": [
          "Elements"
        ],
        "summary": "Détail d'un élément",
        "operationId": "getElementById",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifiant de l'élément"
            },
            "required": true,
            "description": "Identifiant de l'élément",
            "name": "identifier",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Élément ArchiMate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Elements"
        ],
        "summary": "Modifier un élément",
        "operationId": "updateElement",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "identifier",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ElementUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Élément mis à jour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Elements"
        ],
        "summary": "Supprimer un élément",
        "operationId": "deleteElement",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "identifier",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Élément supprimé (et relations associées)"
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/relationships/types": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Types de relations présents",
        "operationId": "listRelationshipTypes",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste triée des types de relations ArchiMate 3.1 présents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "Association",
                    "Flow"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/relationships": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Lister les relations",
        "operationId": "listRelationships",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "Access",
                "Aggregation",
                "Assignment",
                "Association",
                "Composition",
                "Flow",
                "Influence",
                "Realization",
                "Serving",
                "Specialization",
                "Triggering"
              ],
              "description": "Filtrer par type de relation"
            },
            "required": false,
            "description": "Filtrer par type de relation",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filtrer par identifiant de l'élément source"
            },
            "required": false,
            "description": "Filtrer par identifiant de l'élément source",
            "name": "source_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filtrer par identifiant de l'élément cible"
            },
            "required": false,
            "description": "Filtrer par identifiant de l'élément cible",
            "name": "target_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des relations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Relationship"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Relationships"
        ],
        "summary": "Créer une relation",
        "operationId": "createRelationship",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Relation créée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Relationship"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/relationships/{identifier}": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Détail d'une relation",
        "operationId": "getRelationshipById",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifiant de la relation"
            },
            "required": true,
            "description": "Identifiant de la relation",
            "name": "identifier",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Relation ArchiMate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Relationship"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Relationships"
        ],
        "summary": "Modifier une relation",
        "operationId": "updateRelationship",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "identifier",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relation mise à jour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Relationship"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Relationships"
        ],
        "summary": "Supprimer une relation",
        "operationId": "deleteRelationship",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "identifier",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Relation supprimée"
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/views": {
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "Lister les vues",
        "operationId": "listViews",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des vues avec compteurs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/View"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Créer une vue",
        "operationId": "createView",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vue créée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewDetail"
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/views/{identifier}": {
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "Détail d'une vue",
        "operationId": "getViewById",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifiant de la vue"
            },
            "required": true,
            "description": "Identifiant de la vue",
            "name": "identifier",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Vue avec nœuds et connexions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/views/{view_id}/image": {
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "Rendu SVG d'une vue",
        "operationId": "renderView",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifiant de la vue"
            },
            "required": true,
            "description": "Identifiant de la vue",
            "name": "view_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "svg"
              ],
              "default": "svg",
              "description": "Format de sortie (svg uniquement ; l'export PNG se fait côté client)"
            },
            "required": false,
            "description": "Format de sortie (svg uniquement ; l'export PNG se fait côté client)",
            "name": "format",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Image SVG de la vue",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/views/{view_id}/nodes": {
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Ajouter un nœud à une vue",
        "operationId": "createNode",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifiant de la vue"
            },
            "required": true,
            "description": "Identifiant de la vue",
            "name": "view_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Nœud créé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Node"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/views/{view_id}/nodes/{node_id}": {
      "put": {
        "tags": [
          "Views"
        ],
        "summary": "Déplacer / redimensionner un nœud",
        "operationId": "updateNode",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "view_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "node_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nœud mis à jour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Node"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Views"
        ],
        "summary": "Retirer un nœud d'une vue",
        "operationId": "deleteNode",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "view_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "node_id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Nœud retiré"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/views/{view_id}/connections": {
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Créer une connexion dans une vue",
        "operationId": "createConnection",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "view_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Connexion créée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/views/{view_id}/connections/{conn_id}": {
      "put": {
        "tags": [
          "Views"
        ],
        "summary": "Modifier une connexion",
        "operationId": "updateConnection",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "view_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "conn_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connexion mise à jour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Views"
        ],
        "summary": "Supprimer une connexion",
        "operationId": "deleteConnection",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "view_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "conn_id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Connexion supprimée"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Utilisateur courant",
        "operationId": "getMe",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "description": "Retourne les informations de l'utilisateur authentifié (cookie de session ou Bearer token).",
        "responses": {
          "200": {
            "description": "Utilisateur connecté",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserOut"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Lister les workspaces",
        "operationId": "listWorkspaces",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Créer un workspace",
        "operationId": "createWorkspace",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace créé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInfo"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Type ArchiMate invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}": {
      "put": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Renommer un workspace",
        "operationId": "updateWorkspace",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace mis à jour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInfo"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Supprimer un workspace",
        "operationId": "deleteWorkspace",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Workspace supprimé"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}/activate": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Activer un workspace",
        "operationId": "activateWorkspace",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace activé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInfo"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Lister les utilisateurs",
        "operationId": "listUsers",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des utilisateurs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserOut"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/users/{uid}/roles": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Rôles d'un utilisateur",
        "operationId": "listUserRoles",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "uid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Rôles assignés",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleOut"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Lister les rôles",
        "operationId": "listRoles",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des rôles RBAC",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleOut"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "Créer un rôle",
        "operationId": "createRole",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rôle créé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleOut"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/roles/{id}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Détail d'un rôle",
        "operationId": "getRole",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Rôle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleOut"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "Modifier un rôle",
        "operationId": "updateRole",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rôle mis à jour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleOut"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Supprimer un rôle",
        "operationId": "deleteRole",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Rôle supprimé"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/roles/{id}/layers/{layer}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Permissions d'un rôle sur une couche",
        "operationId": "getRoleLayer",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Couche ArchiMate ou 'Relations'/'Views'"
            },
            "required": true,
            "description": "Couche ArchiMate ou 'Relations'/'Views'",
            "name": "layer",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "Définir permissions sur une couche",
        "operationId": "setRoleLayer",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "layer",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "read",
                        "create",
                        "update",
                        "delete"
                      ]
                    }
                  }
                },
                "required": [
                  "permissions"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissions mises à jour"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Supprimer permissions sur une couche",
        "operationId": "deleteRoleLayer",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "layer",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Permissions supprimées"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/roles/{id}/users/{uid}": {
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "Assigner un utilisateur à un rôle",
        "operationId": "assignUserToRole",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "uid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Assignation effectuée"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Retirer un utilisateur d'un rôle",
        "operationId": "unassignUserFromRole",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "uid",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Désassignation effectuée"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/property-definitions": {
      "get": {
        "tags": [
          "PropertyDefinitions"
        ],
        "summary": "Lister les définitions de propriétés",
        "operationId": "listPropertyDefinitions",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Définitions de propriétés",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PropertyDefinition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/settings/api-tokens": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Lister les tokens API",
        "operationId": "listApiTokens",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "description": "Retourne les tokens de l'utilisateur courant. Les administrateurs voient tous les tokens.",
        "responses": {
          "200": {
            "description": "Liste des tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTokenOut"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Settings"
        ],
        "summary": "Créer un token API",
        "operationId": "createApiToken",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "description": "Crée un nouveau token personnel. La valeur du token (champ `token`) n'est retournée qu'à la création — elle ne peut plus être récupérée ensuite.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiTokenCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token créé (contient la valeur en clair)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenCreated"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Champ 'name' manquant ou vide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/settings/api-tokens/{id}": {
      "delete": {
        "tags": [
          "Settings"
        ],
        "summary": "Supprimer un token API",
        "operationId": "deleteApiToken",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "ID numérique du token"
            },
            "required": true,
            "description": "ID numérique du token",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Token supprimé"
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Permission insuffisante",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "ID non numérique",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/mcp/": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Requête MCP (JSON-RPC)",
        "operationId": "mcpPost",
        "description": "Point d'entrée JSON-RPC 2.0 du transport streamable-http MCP. La première requête doit être une `initialize`. Les requêtes suivantes doivent inclure l'en-tête `mcp-session-id` retourné par `initialize`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Réponse JSON-RPC (text/event-stream ou application/json)"
          },
          "400": {
            "description": "Session invalide ou requête non-initialize sans session"
          }
        }
      },
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Flux SSE MCP",
        "operationId": "mcpGet",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "mcp-session-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Flux d'événements SSE"
          },
          "405": {
            "description": "Session non trouvée"
          }
        }
      },
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Fermer une session MCP",
        "operationId": "mcpDelete",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "mcp-session-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Session fermée"
          },
          "404": {
            "description": "Session non trouvée"
          }
        }
      }
    }
  }
}